/*

 *  Name         : AVX-adblock

 *  Author       : Abhishek kulyal, Vivek rawat, Sudheesh kumar

 *  Created on   : 12-10-2013

 *  Version      : 2.0

 *  License      : CC by-sa - http://creativecommons.org/licenses/by-sa/3.0/

 *  Homepage     : https://developer.mozilla.org/en-US/demos/detail/avx-adblock/

 */

/*Google ads*/
div[id^='div-gpt-ad-1322745014627-0-oop1'],*[href^='http://adclick.g.doubleclick.net/'],*[src^='http://adclick.g.doubleclick.net/']{  display: none!important }
div[id*='tads'],*[id='bottomads'],*[class*='AT'],*[class*='Zs'],*[class*='oM'],*[class*='u8'],*[class*='aBC'],*[class*='rhs'],*[class*='ads-ad'],*[id*='CBTPopUp'],*[id*='PopUp'],*[id*='popups'],div[id="colorbox"]{ display: none !important; }
#tads > ol > li:first-child, #tadsb > ol > li:first-child,*[id*='IL_INSEARCH'],#textAd,#search-pva,#watch-channel-brand-div,.searchView.list-view,.yva-360-bg,.pyv-promoted-videos,div[class="pmoabs"],*[class*="mad_adcontainer"],div[class="body-coming-soon"]{ display: none !important;}
*[src$='beacon.js'],*[src$='popup.js'],*[src$='gpt.js'],*[class*="anylinkmenu"],*[src$='ad.htm'],*[src^="http://serve.popads.net/],*[src^='http://static.greatappsdownload.com/'],*[src^='http://www.newsreader.ws/'],*[src^='http://affiliates.tyroodr.com/'],*[href*="http://affiliates.tyroodr.com/"]{  display: none; visibility:hidden !important }


/*Let's talk about ads id*/
#FLASH_AD,#flash_ad,#b-main,#stereo1,#stereo2,#ad, #ad-out, #ad-in,#banner1,#FlashDiv,#banner2,#left_ads,#add .ad,#ad-leaderboard,#ad-5linkunit,#tionline,#love4,#flow .offer,#top_banner,#mg-popup,#hiderekl > .quote > div[align='center'],#mc_100x_90,#dle-content table[style='border:2px solid green;font-size:14px;background-color:white'],noindex table[width='76%'][height='227']{ display: none !important; }
[id^='bn_'],#lfwar > .war,#header > #uhi,#left-bs,#contentplace > .decoblock, #contentplace > .decoblock-content.info,#promo.google ,#ibm_adv,[id^='Teaser_Block']{ display: none !important; }
#mouselayer.mouselayer,#baner_eter,#sidebar1 > #sidebar1-wrap > table,#sidebar1 > #sidebar1-wrap > font.text1 .attachtable[cellpadding='0'],#sidebar1 > center > .attachtable[cellpadding='0'],#sidebar2_wrap div[id^='lx_'],#forums_list_wrap > table[width='100%'],div[id^='smile_teaser_'],#page_content td[align='Center'][style='border: 2px solid #000000;']{display: none !important}
#bannerBlock,#rightBanner240,#yad.innerBlock,#videoadv,#newsexch,#alphabetBlock1 span.letter > a[href^='/travels/'],#alphabetBlock1 span.letter > b,#banner950x60,#banner170x280,#banner300x250,#cnews_center,#sponsor_for_main,#adv_block,#right .sape,#top_rhs_after,div[class='dfp_slot'][id$='_wrapper'],div[id*='flbanner'] > div[id*='bannerflashcontent'], .sponsorsBanners,td[align='center'][valign='top'] > div#rightBanner{ display:none !important}
body#cbn_p_1 #left,body#cbn_p_1 #top,.center > a[href^='http://static.fastpic.ru'],#left[style*='z-index: 2147483647'],#right[style*='z-index: 2147483647'],#top[style*='width: 728px; height: 200px'],a[href^='http://loneday.com/info.php'] ,[id*='meebo'],.footer_ad,#producer_spotlight_holder,#go_pro_link,#iphone_banner,#DiropaBanner_holder,#topline [height='90'],[data*='videoclick'],[data*='goodadvert'],[id*='itxttt'], #ad-tower,#ad_div,#ad_billboard,#ad_ph_1,#adsdiv,#adv,#adv2,#adv3,#advertisingLink,#Advertisement,#banner,#banners,#banner-top,#bannertop,#divFlashTeaser,#ibp,#IE8BarId_alt,#fp_adv2,#lite_top_banner,
#load_banner_2,#mag_banner,#pagelet_adbox, #PopWin,#reclama,#reklama,#sponsors,#topbanner,#ad_overlay,#ad_footer ,#Ads,#leaderboard,#top_adbn_div,#top-banner,#page_footer,#PopWin,[id^='div-gpt-ad'],[style^='position:fixed; top:263px; left:28%; margin:0; padding:0; Z-INDEX: 2147483647;'],.border_all.rlstyle1,.border_all.tiban,.ms_inside_block,.ms_promo_block {display: none !important}

/*Regular Expression *[class*='ad'],*[id$='ad'],  */*[id*='BannerFlash'], *[id*='AdBar'],[id^='DIV_NNN_'], [id^='left_ban'],[id*='MarketGid'],[id^='medialand_'],[id^='newclick'],[id^='n4p_'],id^='_ci_widget_'],[id^='Banner'],[id^='Advert'],*[class*="ad468"] { display: none !important}
#ew-content > div#banner, body > #siteheader + div#banner,body > #customheader + div#banner, body > #uservoice-feedback + div#banner,#sf_header ~ #doc3 > #bd > div#banner,#container > #maincolumn > div#banner,body > div.topdiv + div#banner {display: block !important}
/*Class*/
.side_ban *,.newsblog-in > .infoblock[id^='topic-'],body#index #header #banner,body#user_profile #header #banner,#visual_block div[class*='banner'],#visual_block img[src*='banners'],#main_part img[src*='banners']{display: block !important}
[class*='AdBar'],[class*='ad_block'],[class*='advertising'],[class^='bnnr_bx_'] [name='Adrotator1'],[name='Ads'],[class*='notifier_'], [id*='notifier_'],[data*='ad0002.ru'], [src*='ad0002.ru'],[id*='ad_ph_2'],[src*='195.214.194.1/'],[class*='Ad_block']{ display: none !important}
/*Alt ads */
[alt~='counter'], [alt~='counters'],[alt*='count'],[alt*='Top100'],[alt*='HotLog'],[alt*='M2K Network'],[alt*='AdRiver'],[alt*='RORER'],[alt='Ads'],[alt='Openstat'],*[class^='ads'], *[id^='ads'],*[class*='ads'],*[id*='ads'],*[class^='singleAd'],*[id^='singleAd'],div[class='sidebar-ad-wrapper'],*[class^='Ad'],*[id^='Ad'],*[class$='Ad'],*[id$='Ad'],*[id^='ad'],div[class^="innerMPUwrap"],div[class^='leaderboard']{	display: none !important}
/* Width and height */
[width='80'][height='150'],[width='88'][height='31'],*[width='100'][height='100'],
[width='120'][height='240'],[width='120'][height='600'],[width='160'][height='80'],*[width='700'][height='500'],
[width='160'][height='240'],[width='160'][height='600'],[width='234'][height='60'],*[width='38'][height='31'],
[width='234'][height='200'], [width='240'][height='350'],[width='300'][height='250'],[width='31'][height='31'],[width='80'][height='15']
[width='336'][height='280'],[width='392'][height='72'],[width='468'][height='15'],[width='468'][height='60'],
[width='468'][height='80'],[width='478'][height='15'],[width='478'][height='60'],[width='478'][height='80'],[width='173'][height='279'],
[width='480'][height='60'],[width='600'][height='90'],[width='728'][height='60'],[width='728'][height='90'] {	display: none !important}
/*Embed codes*/
embed[width='100%'][height='90'],embed[width='100%'][height='60'],embed[width='960'][height='90'],embed[width='640'][height='80'],embed[width='468'][height='120'], embed[width='240'][height='400'],embed[width='150'][height='200'],embed[width='120'][height='60'],embed[width='970'][height='250'],embed[width='330'][height='140']{display: none!important}
/*Iframe ads*/
iframe[width='100%'][height='280'],iframe[width='100%'][height='100'],iframe[width='100%'][height='90'],iframe[width='999'][height='155'],iframe[width='990'][height='90'],iframe[width='960'][height='90'],iframe[width='501'][height='60'],  div#nav_main_banner,iframe[src*='advert/code'], iframe[width='600px'][height='250px'] ,iframe[width='500px'][height='250px'],iframe[src*='adsrv.deviantart.com'],                     
iframe[width='330'][height='240'],iframe[width='306'][height='142'],iframe[width='728'][height='90'],iframe[width='300'][height='125'],iframe[width='240'][height='440'],iframe[width='240'][height='400'],iframe[width='206'][height='618'],iframe[width='150'][height='840'],iframe[width='120'][height='60'],iframe[width='300'][height='225'],iframe[width='160'][height='60']{ display: none !important}
/*Oh yeah Object/flash ads!!*/
object[width='105%'][height='90'],object[width='100%'][height='240'],object[width='100%'][height='150'], object[width='100%'][height='100'],                         
object[width='100%'][height='90'],object[width='100%'][height='60'],object[width='1200'][height='70'], object[width='1200'][height='60'],object[width='125'][height='605'],
object[width='1000'][height='90'],object[width='980'][height='60'],object[width='800'][height='60'],object[width='716'][height='80'],object[width='470'][height='62'],
object[width='700'][height='90'],object[width='700'][height='65'],object[width='600'][height='200'],object[width='600'][height='160'],                          
object[width='597'][height='72'],object[width='560'][height='120'], object[width='560'][height='60'],object[width='520'][height='102'],/*object[width='300'][height='250'],*/
object[width='500'][height='150'],object[width='501'][height='60'],object[width='480'][height='480'],object[width='469'][height='61'],
object[width='468'][height='70'],object[width='467'][height='59'],object[width='430'][height='70'],object[width='360'][height='60'],object[data*='./ads/flash'] ,
object[width='333'][height='333'],object[width='315'][height='75'],object[width='300'][height='300'], object[width='240'][height='400'],
object[width='240'][height='200'],object[width='240'][height='115'],object[width='234'][height='190'],object[width='230'][height='30'],                          
object[width='200'][height='200'],object[width='180'][height='280'],object[width='150'][height='150'],object[width='125'][height='600'],                          
object[width='125'][height='200'],object[width='120'][height='150'], object[width='112'][height='60'],object[width='100'][height='100'] {	display: none!important}
/*Oh what about img ads??*/
img[width='100%'][height='80'],img[width='1200'][height='70'],img[width='990'][height='90'],img[onclick*='countAdClick'],
img[width='960'][height='90'],img[width='840'][height='148'],img[width='240'][height='400'],  [width='468'][height='60TYPE="application/x-shockwave-flash"'],[width='240'][height='400TYPE="application/x-shockwave-flash"'],                        
img[width='240'][height='60'],img[width='269'][height='75'], img[width='160'][height='55'], [width='173'][height='279']img,                              
img[width='500'][height='100'],img[width='340'][height='80'] {	display: none !important}
/*Hyperlink*/
*[href*='http://www.googleadservices.com/pagead/'],[href*='top100.rambler.ru/cgi-bin/'], [src*='rambler.ru/top100'],[src*='www.yandex.ru/cycounter'],[href*='top.mail.ru/jump?'],[href*='top.list.ru/jump?'], [src*='top.list.ru'],[href*='rax.ru/click'],[href*='liveinternet.ru/click'], [src*='counter.yadro.ru'],[href*='spylog.'], [src*='spylog.'],
[href*='click.hotlog.ru'], [src*='.hotlog.ru/cgi'],[href*='bigmir.net'], [src*='bigmir.net'],[href*='warlog.info/cgi-bin/'], [src*='warlog.info'],[href*='a-counter.'], [src*='a-counter.'],[href*='/go?a%3AaHR0cDovL'],[src*='intimcity.org'],
[href*='stat.aport.ru/hit'], [src*='aport.ru/show.pl'],[href*='top.proext.com/go.cgi?'], [src*='top.proext.com/c.cgi?'],[href*='topcto.ru'], [src*='topcto.ru'],[href*='limerex.com'], [src*='limerex.com'],[href*='tatet.org'], [src*='tatet.org'],
[src*='.mystat-in.net/?'],[src*='counter.mystat-in.net'],[src*='counter.hitua.'],[src*='thelist.ru/stat'],[href*='openstat.ru'], [src*='openstat.net'],[href*='/bn.'], [src*='/bn.'],[href*='/ban'],[href*='/ads'],[href*='/adv'],
[href*='/counter'], [src*='/counter'],[href*='counter'],[href*='/count.'], [src*='/count.'],[href*='commerce'],[href*='purchase'],[href*='/redirect.'],[href*='/rich'],[href*='/traf'],
[href*='/ref'],[href*='/clk'],[href*='click.'],[src*='click'],[href*='pay.asp'],[href*='?page='],[href*='partner='],[href*='li.ru/go?'],[src*='r.mail.ru/b'],[href*='yandex.ru/cy?'],[href*='r.mail.ru/n'],
[href*='forex'],[src*='/ban/'] {display: none; visibility:hidden!important}
/*Yes, about block ads*/
.frame.advtBlock,div[class='ban-border'],.block2 > .banner240 > *:not([href*='echo.msk.ru']):not([href*='twitter.com']):not(br),.block2 > .netWorkBlock,.block2 > .frame.radioSvoboda,.partnerList ,table.zone-middle td.column2 .info_block,div.side-banner.adv-context.adv-1,td.column3 div.block.block-color-2,td.leftcol > div.lefttitle:nth-child(6),td.leftcol > div.lefttitle:nth-child(7),td.leftcol > div.lefttitle:nth-child(11){	display: none !important }
/*sms of the internet*/
.promoted-account,.promoted-trend,.stream-item[id*=':'],.Ad300x250,td.SideAdCol,.h_rightcolumn > .h_crm,.h_rightcolumn > .h_msncontent,div[class^='Crm'] > div[id^='Crm'] > div[id^='Crm'],div[class^='Crm'][class$='Container'],.SkyscraperContainer,.Managed #SkyscraperContent,#skyScraperContainer.skyScraper,table[width='100%'][style='border: solid 1px #245e99'],table[height='68'][width='100%']{display: none !important}
/*Advertiment sites*/
div[onclick*='ad.adriver.ru'],div[onclick^='ad.'],[href^='http://thegreenppc.com/'],[href*='greenparking.biz'],[href*='greenlabelppc.com'],[href*='/ads.php?section=target'],[href^='http://ad.admitad.com'],
[href^='http://www.FriendlyDuck.com/'], [src*='.FriendlyDuck.com/'],[href*='.shareresults.com/'], [src*='.shareresults.com/'],[href^='http://edelstarus.ru/'],[href^='http://www.cdsuper.ru/'],[href^='http://gagen.ru/'],[href^='http://alphacash.biz/'],[href^='http://www.webkazanc.com/'],[href^='http://kf-forex.ru/'],[href^='http://7dvd.ru/'],[href^='http://www.smart-soft.ru/'],[href*='grand-casino.com'],[href*='.evgenyfedorenko.com/'],
[href*='http://traffic'], [href*='http://www.traffic'],[href^='http://affiliate.'],[src*='8coins.net/'],[href*='doubleclick.net'], [src*='doubleclick.net'],[href*='www.xtremetop100.com'], [src*='www.xtremetop100.com'],[href*='luxup.ru'], [src*='luxup.ru'],[href*='teasernet.com'], [src*='teasernet.com'],[src*='undere.com'],[href*='emierete.com'],[src*='kolition.com'],[src*='.lacest.com'],[href*='teasernet.ru'], [src*='teasernet.ru'],[href*='78.140.145.178'], [src*='78.140.145.178'],[href*='atdmt.com'], [src*='atdmt.com'],[href*='adultfriendfinder.com'],[href*='100-100.ru'], [src*='100-100.ru'],[href*='ad.rambler.ru/'],
[href*='abn-ad.com'],[href*='filepost.ru'],[href*='tbn.ru'], [src*='tbn.ru'],[href*='clx.ru/in'],[href*='jbe.ru/'],[href*='link.ru/cgi-bin/'], [src*='link.link.ru/show?'],[href*='grandcasino.ru/'], [src*='grandcasino.ru'],[href*='dyxi.ru/'], [src*='dyxi.ru/'],[href*='razno.ru/'], [src*='razno.ru/'],[href*='ru.redtram.com'], [src*='img.ru.redtram.com'],[href*='bannerbank.ru'],[href*='adriver.ru'], [src*='adriver'],[href*='mirmaek.ru'],
[href*='vsemayki.ru'],[href*='24open.ru/?from'],[href*='pink.futurico.ru'], [src*='pink.futurico.ru'],[href*='advmaker.ru'], [src*='advmaker.ru'],[href*='rorer.ru'], [src*='rorer.ru'],[href*='new-popups.ru'], [src*='new-popups.ru'],[href*='sekretfamilii.com'],[href*='tayna-family.ru'],[href*='nordfx.com'], [src*='nordfx.com'],[href*='limit-poker-club.net'], [src*='limit-poker-club.net'],[href*='investoday-monitor.ru'], [src*='investoday-monitor.ru'],
[href*='rushotgirls.com'], [src*='rushotgirls.com'],[href*='sape.ru/r'], [src*='sape.ru/r'],[href*='bin-layer.'], [src*='bin-layer.'],[href*='visitweb.com'], [src*='visitweb.com'],[href*='bannerbank.ru'], [src*='bannerbank.ru'],[href*='iphone4all.ru'], [src*='iphone4all.ru'],[href*='bw.pronto.ru'], [src*='bw.pronto.ru'],[href*='partnerearning.com'], [src*='partnerearning.com'],[href*='tradedoubler.com'], [src*='tradedoubler.com'],
[href*='banner.ua'], [src*='banner.ua'],[href*='post.rmbn.ru'], [src*='post.rmbn.ru'], [src*='banner.unian.net'],[href*='engine.rbc.medialand.ru'],[src*='b.c8.net.ua'],[href*='t.gameleads.ru'], [src*='gameleads.ru/promo/'],[href*='neova.auto.ru'], [src*='neova.auto.ru'],[href*='am10.ru'], [src*='am10.ru'],[href*='TizerTiz.COM'], [src*='TizerTiz.COM'],[href*='steamac.com'], [src*='steamac.com'] {	display: none !important}
[href^='http://ad.'], [src^='http://ad.'],[href^='http://n.admagnet.net/d/ck/?'], [src^='http://n.admagnet.net/d/ck/?'],[href^='http://n.admagnet.'], [src^='http://n.admagnet.'],[href^='http://adinterax.com'], [src^='http://adinterax.com'],[href*='.com/?user_id='], [href*='.net/?user_id='],
[href*='/ad_cache/'], [src*='/ad_cache/'],[href*='/in.cgi?'],[href*='/adframe'], [src*='/adframe/'],[href*='extrabucks.ru'],[href*='.com/s.php?f='],[href*='/adult/go.php?sid='],[href*='/2advert.'],[href*='/ads/'], [src*='/ads/'], [src*='_ads.'], [src^='http://ads.'],
[href*='/adx/'], [src*='/adx/'],[href*='/ban/'],[href*='/ban.'], [src*='/ban.'],[href*='banners/'], [src*='banners/'],[href*='/reklama/'], [src*='/reklama/'],[href*='/reclama/'], [src*='/reclama/'],[href*='/rekl/'], [src*='/rekl/'],[href*='/adserver'], [src*='adserver'],
[href*='/adfarm.'], [src*='/adfarm.'],[href*='/adv.'], [src*='/adv.'],[href*='?partner='],[href*='ads.com/?ref '],[href*='/cgi-bin/href/'], [src*='/cgi-bin/iframe/'],[href*='adbrite'], [src*='adbrite'],[href*='/adnet/'], [src*='/adnet/'],[href*='/ad.ad'], [src*='/ad.ad'],
[href*='/adclick'], [src*='/adclick'],[href*='adclick.'],[href*='showclick.'],[href*='clickcount'],[href*='/counter/referrer?'],[href*='/adlog.pl'],[href*='banner.php'], [src*='banner.php'],[src*='icq_banners'],
[src*='/adview.php'],[href*='/ban_click.'],[href*='rtbn'],[src*='sticker.yadro.ru'],[src*='banner_'],[src*='ad.php?id='],[src*='streameye.net'],[href*='biglion'],[href*='www/delivery/ck.php'], [src*='www/delivery/lg.php'],#advertising, #other { display:none!important}
/* Railway ads */
*[href*='http://ad.'],*[href^='http://ad.'],*[class*="anylinkshadow"], *[src*='http://ad.'], *[href^="#ad/119545"],*[class=e aFv],*[href*='http://n.admagnet.net/d/ck/?'], *[src*='http://n.admagnet.net/d/ck/?'],*[href^='http://n.admagnet.net/d/ck/?'],table[height="298"][cellspacing="0"][cellpadding="0"][width="720"][border="0"],*[href*="http://ad.doubleclick.net/"],*[src*="http://ad.doubleclick.net/"],
*[href*="http://adlog.cbsi.com/"],img[src*="http://adlog.cbsi.com/"], img[src*="http://ad-ace.doubleclick.net/ad/"], img[src*="http://ad.doubleclick.net/"],*[src^="http://ad.doubleclick.net/"],*[href^="http://ad.doubleclick.net/"],*[href*='http://www.googleadservices.com/pagead/']{ display:none; border-style:none; empty-cells:hide!important}
/*facebook*/
#rightCol #pagelet_ego_pane_w,
#pagelet_ads_when_no_friend_list_suggestion { display: none;  border-style:none; empty-cells:hide; }
/* Hide Right Column Footer on Home */
#rightCol #pagelet_rhc_footer { display: none;  border-style:none; empty-cells:hide!important }
/* Hide ads on Timeline and Photo View */
.fbTimelineSideAds,
#rightCol #pagelet_side_ads,
#fbPhotoSnowliftAdsSide,
div[class*=snowliftAds],
._24q .ego_column:not(.egoOrganicColumn) { display: none;  border-style:none; empty-cells:hide!important }
/* Hide ads on Friend's Profiles */
#rightCol #pagelet_ego_pane .ego_column:not(.egoOrganicColumn),
[data-referrer*=pagelet_side_ads] { display: none;  border-style:none; empty-cells:hide!important}
/* Hide ads on Comment View */
.UIStandardFrame_SidebarAds #pagelet_ego_pane .ego_column:not(.egoOrganicColumn) { display: none;  border-style:none; empty-cells:hide!important }
/* Hide "People you may know" on Comment View */
.UIStandardFrame_SidebarAds #pagelet_ego_pane .egoOrganicColumn { display: none;  border-style:none; empty-cells:hide!important}
/* Hide ads and sponsored stories on Message View */
#MessagingNetegoSidebar #pagelet_ego_pane .ego_column:not(.egoOrganicColumn),
#MessagingNetegoSidebar .ego_column:not(.egoOrganicColumn) { display: none;  border-style:none; empty-cells:hide!important}
/* Hide ads on Lists */
#pagelet_ads_when_no_friend_list_suggestions .ego_column:not(.egoOrganicColumn) { display: none;  border-style:none; empty-cells:hide!important}
/*Advance href*/
*[href*="/A="] img, *[src*="/A="],
*[href*="/ad-"] img, *[src*="/ad-"],
*[href*="/ad."] img, *[src*="/ad."],
*[href*="/ad/"] img, *[src*="/ad/"],
*[href*="/ad_"] img, *[src*="/ad_"],
*[href*="/ads/"] img, *[src*="/ads/"],   /* expanded from '/ads' */
*[href*="/ads_"] img, *[src*="/ads_"],
*[href*="/ads-"] img, *[src*="/ads-"],
*[href*="/ads."] img, *[src*="/ads."],
*[href*="/adver"] img, *[src*="/adver"], /* expanded from '/adv' */
*[href*="/adv/"] img, *[src*="/adv/"],
*[href*="/adv_"] img, *[src*="/adv_"],
*[href*="/adv-"] img, *[src*="/adv-"],
*[href*="/adv."] img, *[src*="/adv."],
*[href*="/adx"] img, *[src*="/adx"],
*[href*="_ad_"] img, *[src*="_ad_"],
*[href*="_ad/"] img, *[src*="_ad/"],
*[href*="_ad."] img, *[src*="_ad."],
*[href*="-ad-"] img, *[src*="-ad-"],
*[href*="?ad"] img, *[src*="?ad"],
*[href*="/jump/"] img, *[src*="/jump/"],
*[href*="?banner"] img, *[src*="?banner"],
*[href*="/banner"] img, *[src*="/banner"],
*[href*="/click-"] img, *[href*="/click-"],
*[href*="=click"] img, *[src*="=click"],
*[href*="?click"] img, *[src*="?click"],
*[href*="click_"] img, *[src*="click_"],
*[href*="advert"] img, *[src*="advert"],
*[href*="banman"] img, *[src*="banman"],
*[href*="bannerman"] img, *[src*="bannerman"],
*[href*="banners."] img, *[src*="banners."],
*[href*="adframe"] img, *[src*="adframe"] {
  display: none !important;
}
/*all*/
.b-page-layout .b-page-layout__column-proxy [style*='display:block !important'] [class*='__all'],
.b-page-layout .b-page-layout__column-proxy [style*='display:block!important'] [class*='__list'],
.b-page-layout .b-page-layout__column-proxy [style*='display:block!important'] [class*='__direct-wrap'],
/*.b-page-layout .b-page-layout__column-proxy [style*='display:block!important'],*/
.ad-market, .ads-header,
.go-ad, .b-yadirect,
.b-spec-adv, .b-music-banner,
.b-media-banner {
	background-color:#f99 !important; color:#900 !important; outline:1px solid #f33 !important
}
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,canvas,video {    display: inline-block;}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {   display: none;height: 0;}
/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */

[hidden],template {    display: none;}
/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {  font-family: sans-serif; /* 1 */  -ms-text-size-adjust: 100%; /* 2 */  -webkit-text-size-adjust: 100%; /* 2 */}
/**
 * Remove default margin.
 */

body {  margin: 0;}
/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
    background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*facebook chat box*/
._50mz .metaInfoContainer {

background-color: transparent !important;

padding-left: 0 !important;

position: absolute;

right: none !important;

top: none !important;

bottom: 4px !important;

}



.messages:hover .metaInfoContainer {

visibility: visible !important;

}



.fbChatConvItem:hover .metaInfoContainer {

visibility: hidden;

}



.fbChatConvItem .profileLink .profilePhoto {

border-radius: 300px !important;

}



.fbChatConvItem .profileLink:before {

background:transparent;

display: block;

width: 32px;

height: 32px;

content: "";

position: absolute;

box-shadow: 0 1px 4px -1px #000, 0 2px 4px -2px #000, inset 0 0px 0px 1px rgba(255, 255, 255, 0.25), inset 0 4px 5px -1px rgba(255, 255, 255, 0.25);

border-radius: 300px !important;



}



._50dw {

border-top: 1px solid #E4E7F0 !important;

}


._51jx, ._51jw{

  background-image: none !important;

background-color: #CCCCCC !important;

border: 1px solid #FF00FF  !important;

border-bottom: 1px solid #c0311e !important;

border-top: 1px solid #e23923 !important;

-webkit-border-radius: 2px;

-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .77);

display: block;

    width:auto !important;

    height:auto !important;

  padding:0 1px !important; 

}

.fbChatMessageGroup {border-top-color:#E4E7F0;}



 .fbChatConvDateBreak{

text-align: center !important;

margin: 5px 60px !important;

}





.fbChatMessageGroup ._kso {margin-bottom: 0!important;}



.conversationContainer, .fbChatConvDateBreak {background: #E4E7F0 !important;}



._7f.seen ._9r, ._510h {

background-image: url("http://imageshack.us/a/img202/3604/seen.png") !important;

background-position: 0 !important;

}



 .messages {

background: transparent !important;

margin-left: 12px !important;

border-image-slice: fill 10 10 10 10;

-webkit-border-image: url("http://imageshack.us/a/img687/6865/theyp.png")10 10 10 10;

-moz-border-image: url("http://imageshack.us/a/img687/6865/theyp.png")10 10 10 10;

border-image-source: url("http://imageshack.us/a/img687/6865/theyp.png");

border-width: 10px !important;

float: left!important;

max-width: 160px !important;

min-width: 28px;

}



.messages:before {

background: url("http://img594.imageshack.us/img594/4907/theyarow.png");

content: "";

display: block;

width: 15px;

height: 17px;

left: 34px;

position: absolute;

top: 14px;

}





.fbChatMessageGroup .profileLink {box-shadow: 0 1px 1px black !important;}